@import "./style/header_P";
@import "./style/flex";
@import "./style/triangles";
@import  "./style/body_P";

html, body{
    height: 101%;
} 

body{
    background: #006408;
    padding: 0;
    margin: 0;
}