.body-wrap{
    width: 80%;
    margin: 0 auto;
    background: #03c913;
    flex-wrap: wrap;
    padding-top: 100px;

    .demo-reel, .drawings, .story-board{
        flex-direction: column;
        width:100%;
        margin: 0 100px 50px;

        .clip-wrap{
            height: 500px; /*change later*/
            background: black; /*change later*/
            margin: 50px 0;
        }
    }
}


h2{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #006408;
    -webkit-text-stroke: 1px black;
}

.drawings > ul{
    justify-content: space-between;
    padding: 0;
    margin: 50px 0;

    li{
        width: 20%;
        height: 250px; /*change later*/
        background: black;
        list-style: none;
    
        a{
            margin: auto;
            text-decoration: none;
            color: white;
            font-size: 30px;
        }
    }
}


/*-----------------media queries------------------*/


@media (max-width:1780px){

    .drawings > ul{
     width: 100%;
    }

    .drawings > ul> li{
        height: 200px; /*change later*/

        a{
            font-size: 25px;
        }
    }    
}


@media (max-width:1320px){
    .body-wrap{
        width: 75%;
    }

    .drawings > ul{
     width: 100%;
    }

    .drawings > ul> li{
        width:25%;
        height: 200px; /*change later*/

        a{
            font-size: 20px;
        }
    }    
}


@media (max-width:1060px){
    .body-wrap{
        width: 70%;
    }

    .drawings > ul{
     width: 100%;
    }

    .drawings > ul> li{
        height: 150px; /*change later*/

        a{
            font-size: 20px;
        }
    }    
}